{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Remix ICON -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <!-- <link rel="stylesheet" href="../dist/output.css"> -->


    <title>EZ Ride | Transport made easy</title>
</head>

<body class="h-[100vh] flex justify-center">
    <div class="flex flex-col justify-between h-full w-[90%]">
        <nav class="flex items-center justify-between">
            <a class="w-[15%]" href="{% url 'home' %}">
                <img class="w-[100%]" src="{% static 'img/logo_n.png' %}"></a>
            <!-- <img class="w-[100%]" src="../img/logo.png"></a> -->
            <ul class="flex gap-x-5 uppercase text-[13px] tracking-[2px]">

                <li class="p-2 rounded-sm bg-[#f0b001bb] text-black">{{user_name}}</li>
            </ul>

        </nav>

        <div class="flex items-center justify-around">

            <table class="container table table-dark table-sm">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Contact Email</th>
                        <th>Complaint</th>
                    </tr>
                </thead>
                <tbody>
                <form method="post" action="#" id="rating_update_form" class="flex items-center justify-around">
                    {% csrf_token %}
                    {% with i="0" %}
                {% for purchase in user_purchases %}
                    <tr>
                        <td>{{purchase.company_name}}</td>
                        <td>{{purchase.ad_name}}</td>
                        <td>{{purchase.ad_price}}</td>
                        <td>{{purchase.company_email}}</td>

<!--
                        <td><select style="color:black;" name="test{{forloop.counter0}}" class="p-2 rounded-sm" >
                            {% if purchase.rating == null %}
                                <option  value = NULL>-- Rating --</option>
                            {% else %}
                                <option style="color:white;"  value = {{purchase.rating}}>{{purchase.rating}}</option>
                            {% endif %}
                            <option style="color:black;" value = 0>0</option>
                            <option style="color:black;" value = 1>1</option>
                            <option style="color:black;" value = 2>2</option>
                            <option style="color:black;" value = 3>3</option>
                            <option style="color:black;" value = 4>4</option>
                            <option style="color:black;" value = 5>5</option>
                            <option style="color:black;" value = 6>6</option>
                            <option style="color:black;" value = 7>7</option>
                            <option style="color:black;" value = 8>8</option>
                            <option style="color:black;" value = 9>9</option>
                            <option style="color:black;" value = 10>10</option>
                            </select>
                        </td>
-->
                        <!--   <td><a class="btn btn-danger" href="{% url 'user_purchase_delete' %}?id={{forloop.counter0}}&email={{user_email}}&password={{user_pass}}">End Purchase</a></td>  -->
                        <td><a class="btn btn-danger" href="#">Complaint</a></td>
                    </tr>
                {% endfor %}
                    {% endwith %}

                </tbody>
            </table>
        </div>
        <script>
            function save_rating(){
                /*var elements = document.getElementById("rating_update_form").elements;
                for (var i = 0, element; element = elements[i++];) {
                    //if (element.type === "text" && element.value === "NULL")
                    //console.log("it's an empty textfield")
                    alert(element[0].value);
                }
                //window.location.reload();*/
                var elements = document.getElementById("rating_update_form").elements;
                for(var i=0;i<=elements.length;i++){
                    //$("#"+i).on("change",function(){
                    //var option = this.val();
                    //});
                    alert(i)
                }
        </script>
        <div>
<!--
        <button style="height:40px;width:121px" type="submit" class="btn btn-success" >Save Rating</button>
        <a style="height:40px;width:121px;float:right" class="p-2 rounded-sm bg-[#f0b001bb] text-black" href="{% url 'shop' %}?email={{user_email}}&password={{user_pass}}">Purchase Ad</a>   -->
        <a style="height:40px;width:100px;float:right" class="p-2 rounded-sm bg-[#f0b001bb] text-black" href="{% url 'showmap' %}?email={{user_email}}&password={{user_pass}}&user_name={{user_name}}">Get a Ride</a>
        </div>
        </form>

        <footer class="flex justify-between">
            <p class="text-[12px]">&copy; EZRide Ltd. 2022</p>
            <div class="flex gap-x-7">
                <a href="#"><i class="ri-twitter-fill hover:text-[#F0AF01]"></i></a>
                <a href="#"><i class="ri-linkedin-fill hover:text-[#F0AF01]"></i></a>
                <a href="#"><i class="ri-instagram-fill hover:text-[#F0AF01]"></i></a>
                <a href="#"><i class="ri-facebook-fill hover:text-[#F0AF01]"></i></a>
            </div>
        </footer>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

</body>

</html>